@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-size: 10px;
    font-family: "Oswald", sans-serif;
}

header, section {
    width: 90%;
    margin: auto;
}

header {
    background-image: url("images/section2background.jpg");
    background-position: center center;
    background-size: cover;
}

header > div:first-child {
    display: flex;
}