@import url('http://fonts.cdnfonts.com/css/helvetica-neue-9');
@import url('http://fonts.cdnfonts.com/css/bebas-neue');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Helvetica Neue', sans-serif;
    color: #212529;
}

a {
    text-decoration: none;
    color: #212529;
}

nav {
    box-shadow: 0px 3px 4px 1px rgba(0, 0, 0, .1);
    background-color: white;
    height: 84px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}

.nav-container {
    font-family: 'Bebas Neue', sans-serif;   
    width: 90%;
    margin: auto;  
    padding: 15px;    
    height: 100%;    
    display: flex; 
    justify-content: space-between;   
    align-items: center;            
}

.nav-container ul {
    list-style-type: none;
    display: flex;
    align-items: center;
}

.nav-container ul > * {
    margin-left: 2em;
}

.nav-container a, .nav-container button {
    color: #212529;
    text-decoration: none;
    font-size: 23px;
    font-weight: bolder;
}

.nav-container button, header input[type="button"] {
    font-family: "Bebas Neue";
    text-shadow: 0px 2px rgba(0, 0, 0, .2);
    background-color: #52df00;
    color: white;
    padding: 6px 15px;
    border: none;
}

.nav-container button:hover, header input[type="button"]:hover {
    background-color: black;
}

header {
    display: flex;
    align-items: center;
    margin-top: 80px;
    height: 615px;
    width: 100%;
    justify-content: space-between;
}

header .form-container {
    align-self: center;
    flex: 1;
    /* width: 34%; */
}

header  form {
    padding: 6em;
}

header form > * {
    display: block;
    font-family: 'Bebas Neue', sans-serif;
    margin-top: 1em;
    width: 100%;
}

header input {
    height: 3em;
    padding: 1em;
    border: 2px solid #52df00;
    text-transform: capitalize;
}

header input[type="button"] {
    height: initial;
    font-size: 23px;
    font-weight: bolder;
    padding: 6px 15px;
    line-height: initial;
}

form p {
    font-style: oblique;
    font-size: smaller;
    letter-spacing: .5px;
}

.header-image-container {
    height: 100%;
    flex: 2;
    /* width: 66%; */
    background-image: linear-gradient(to top right, rgba(0,0,0,0.9), rgba(0,0,0,0)), url("images/womanspeaking.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    margin-left: 2rem;
    z-index: -1;
}

.header-image-text {
    font-family: 'Bebas Neue', sans-serif;
    position: absolute;
    top: 30%;
    left: 10%;
}

.header-image-text p:first-child {
    font-size: 4em;
    font-weight: bolder;
    background-color: #52df00;
    padding: .05em .2em;
    transform: rotate(-5deg);
}

.header-image-text p:nth-child(2) {
    display: inline-block;
    color: #52df00;
    font-size: 3em;
    font-weight: bolder;
    background-color: #212529;
    padding: .02em .2em;
    margin-top: ;
    transform: rotate(4deg) translate(3px, 15px);

}

.header-image-text p:last-child {
    color: white;
    font-size: 4em;
    font-weight: bolder;
    line-height: 1em;
    margin-top: ;
    transform: translate(1.5em, -0.6em);
    white-space: pre;
    
}

#after-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 13em;
}

#after-header p {
    flex: 1;
    border: ;
}

#after-header h2 {
    font-family: 'Helvetica Neue', sans-serif;
    flex: 2;
    border: ;
    align-self: flex-start;
    letter-spacing: -1.3px;
    padding: 1em;
    word-spacing: 2px;
}

header a, #after-header a {
    border-bottom: solid  #52df00 .1em;
}